<!DOCTYPE html>
<html ng-app="shareCar">
<head>

  <title>Share Car</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" type="text/css" href="styles/app.css">


  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-route/angular-route.min.js"></script>
  <script src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-messages/angular-messages.min.js"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="node_modules/angular-material/angular-material.min.js"></script>

  <script>

  var shareCar = angular.module("shareCar",['ngRoute','ngAria','ngAnimate','ngMessages','ngSanitize','ngMaterial']);


  shareCar.controller("loginCtrl", ['$scope', function($scope){

    $scope.isEmailExist = false;
    $scope.addUser = true;
    $scope.senha = '';

    $scope.verifyEmail = function(email)
    {
      //insert loginService

      $scope.isEmailExist = true;
      $scope.name = 'Antônio Leão Braga';
      $scope.senha = '';
    };

    $scope.changeUser = function()
    {
      $scope.isEmailExist = false;
      $scope.senha = '';
      $scope.loginForm2.$setUntouched(true);
      $scope.loginForm2.$setPristine(true);

    };

    $scope.login = function()
    {
      //insert loginService
      // $scope.isEmailExist = false;
      $scope.isEmailExist = false;

    };



  }]);

  </script>

</head>
<body ng-controller="loginCtrl">

  <!-- <form name="loginForm1" novalidate layout="column" layout-align="space-between center" layout-margin ng-show="!isEmailExist">
    <div class="marca" style="margin-top: 1%">Marca</div>

      <md-whiteframe  layout="column" layout-align="space-around none" class="md-whiteframe-4dp cardLogin" layout-padding>

        <i class="material-icons" style="font-size: 120px; color: #b6b6b6;">account_circle</i>

        <md-input-container >
          <label>E-mail</label>
          <input type="email" ng-model="email" name="email" ng-required="true" />
          <div ng-messages="loginForm1.$submitted && loginForm1.email.$error " role="alert">
            <div  ng-message="required">Digite seu email</div>
            <div  ng-message="email">Entre com um endereço de email válido</div>
          </div>
        </md-input-container>

        <md-button ng-click="loginForm1.$valid && verifyEmail(email)" type="submit">Continuar</md-button>

      </md-whiteframe>

      <p ng-click="test()" class="md-caption">
        <span>Não possui conta?&nbsp&nbsp</span><span class="md-link">Criar Conta</span>
      </p>

  </form>

  <form name="loginForm2" novalidate layout="column" layout-align="space-between center" layout-margin ng-show="isEmailExist">
    <div class="marca" style="margin-top: 1%">Marca</div>

      <md-whiteframe  layout="column" layout-align="space-around none" class="md-whiteframe-4dp cardLogin" layout-padding>

        <div   layout="column" layout-align="center center">
          <img layout-margin src="images/foto1.png" />
          <span layout-margin class="md-body-2">{{name}}</span>
          <span class="md-caption">{{email}}</span>
        </div>

        <md-input-container  >

          <label>Senha</label>

          <input type="password" ng-model="senha" name="senha" ng-required="true"/>

          <div ng-messages="loginForm2.$submitted && loginForm2.senha.$error" role="alert">
            <div ng-message="required">Digite sua senha</div>
          </div>
        </md-input-container>

        <md-button ng-click="loginForm2.$valid && login()"  type="submit" >Entrar</md-button>

        <p layout="row" layout-align="end end" class="md-caption md-link">
          Esqueci minha senha
        </p>

      </md-whiteframe>

      <p  class="md-caption">
        <span class="md-link" ng-click="changeUser()">Entrar como outro usuário</span>
      </p>
  </form> -->

  <form name="addUserForm" novalidate  ng-show="addUser" layout="column" layout-align="space-between center">

    <div class="marca" style="margin-top: 1%">Marca</div>

    <md-whiteframe class="md-whiteframe-4dp " layout="row" >

      <div flex="40" layout="column" layout-align="start center">

          <i  class="material-icons" style="font-size: 120px; color: #b6b6b6;">account_circle</i>

          <p  class="md-caption">
            <span class="md-link">Adicionar Foto</span>
          </p>

          <p  class="md-caption">
            <span class="md-link">Remover Foto</span>
          </p>




      </div>

      <div flex="60" layout="column" layout-align="space-around start">
        <md-input-container>
          <label>Nome</label>
          <input type="text" name="name" ng-model="name" required />
          <div ng-messages="addUserForm.$submitted && addUserForm.name.$error" role="alert">
            <div ng-message="required">Digite seu nome</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Sobrenome</label>
          <input type="text" name="lastName" ng-model="lastName" required />
          <div ng-messages="addUserForm.$submitted && addUserForm.lastName.$error" role="alert">
            <div ng-message="required">Digite seu sobenome</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>E-mail</label>
          <input type="email" name="email" ng-model="email" required />
          <div ng-messages="addUserForm.$submitted && addUserForm.email.$error" role="alert">
            <div ng-message="required">Digite seu email</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Senha</label>
          <input type="password" name="password" ng-model="password" required />
          <div ng-messages="addUserForm.$submitted && addUserForm.password.$error" role="alert">
            <div ng-message="required">Digite sua senha</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Confirmar Senha</label>
          <input type="password" name="confirmPassword" ng-model="confirmPassword" required />
          <div ng-messages="addUserForm.$submitted && addUserForm.confirmPassword.$error" role="alert">
            <div ng-message="required">Digite sua senha novamente</div>
          </div>
        </md-input-container>

        <md-button class="fullWidth">Criar Conta</md-button>

        <md-button class="fullWidth">Cancelar</md-button>


      </div>

    </md-whiteframe>

  </form>




</body>

</html>
