<form name="loginForm1" novalidate layout="column" layout-align="space-between center" layout-margin ng-show="!$root.user.isEmailExist">
  <ng-include src="'html/marca.html'"></ng-include>

    <md-whiteframe  layout="column" layout-align="space-around none" class="md-whiteframe-4dp cardLogin" >

      <i class="material-icons" style="font-size: 92px; color: #b6b6b6;">account_circle</i>

      <md-input-container >
        <label>E-mail</label>
        <input type="email" ng-model="$root.user.email" name="email" ng-required="true" />
        <div ng-messages="loginForm1.$submitted && loginForm1.email.$error " role="alert">
          <div  ng-message="required">Digite seu email</div>
          <div  ng-message="email">Entre com um endereço de email válido</div>
        </div>
      </md-input-container>

      <md-button ng-click="loginForm1.$valid && verifyEmail(email)" type="submit">Continuar</md-button>

    </md-whiteframe>

    <p ng-click="pagAddUser()" class="md-caption">
      <span>Não possui conta?&nbsp&nbsp</span><span class="md-link">Criar Conta</span>
    </p>

</form>

<form name="loginForm2" novalidate layout="column" layout-align="space-between center" layout-margin ng-show="$root.user.isEmailExist">
  <ng-include src="'html/marca.html'"></ng-include>

    <md-whiteframe  layout="column" layout-align="space-around none" class="md-whiteframe-4dp cardLogin" >

      <div   layout="column" layout-align="center center">
        <img layout-margin src="images/foto1.png" />
        <span layout-margin class="md-body-2">{{$root.user.name + ' ' + $root.user.lastName}}</span>
        <span class="md-caption">{{$root.user.email}}</span>
      </div>

      <span  layout="row" layout-align="end end">
        <span ng-mouseenter="showPass =  true" ng-mouseleave="showPass = false" class="check-password" layout="row" layout-align="end end">
          <i class="material-icons " >visibility</i>
          <md-tooltip md-direction="top">Mostrar</md-tooltip>
        </span>
      </span>

      <md-input-container ng-show="!showPass" >
        <label>Senha</label>
        <input type="password" ng-model="$root.user.passWord" name="passWord" ng-required="true"/>
        <div ng-messages="loginForm2.$submitted && loginForm2.passWord.$error" role="alert">
          <div ng-message="required">Digite sua senha</div>
        </div>
      </md-input-container>

      <md-input-container  ng-show="showPass">
        <label>Senha</label>
        <input type="text" ng-model="$root.user.passWord"/>
      </md-input-container>

      <md-button ng-click="loginForm2.$valid && login()"  type="submit" >Entrar</md-button>

      <p layout="row" layout-align="end end" class="md-caption md-link" ng-click="pagForgotPass()">
        Esqueci minha senha
      </p>

    </md-whiteframe>

    <p  class="md-caption">
      <span class="md-link" ng-click="backToLogin()">Entrar como outro usuário</span>
    </p>
</form>
