<ng-include src="'src/Menu/menu.html'"></ng-include>

<div class="users" >
  <div layout="column" layout="start center" style="margin:auto">
    <div layout="row" layout-align="space-between center" class="search" hide-xs>
      <i class="material-icons" style="color: #727272">search</i>
      <md-input-container >
        <label></label>
        <input placeholder="Pesquisar por Usuário..." />
      </md-input-container>
    </div>

    <div style="margin: auto" >
      <md-whiteframe class="md-whiteframe-4dp" layout="column" layout-align="space-around center" ng-show="!convidar" hide-xs>
        <div   layout="column" layout-align="center center" style="margin-bottom: 18px;">
          <span layout-margin class="md-title">Convidar Usuário</span>
        </div>

        <p>Convide usuários para utilizarem os veículos cadastrados.</p>

        <img class="img-add-user" src="images/convidar_usuario.png" />

        <md-button ng-click="convidar = true">Convidar</md-button>

      </md-whiteframe>

      <md-whiteframe class="md-whiteframe-4dp user-card-responsive" layout="column" layout-align="space-around center" ng-show="!convidar" hide-gt-xs>
        <div   layout="column" layout-align="center center" style="margin-bottom: 18px;">
          <span layout-margin class="md-title">Convidar Usuário</span>
        </div>

        <div layout="row" layout-align="space-around center" style="margin-top: -19px;">
          <img src="images/convidar_usuario.png" />
          <p >Convide usuários para utilizarem os veículos cadastrados.</p>
        </div>

        <md-button ng-click="convidar = true">Convidar</md-button>

      </md-whiteframe>

      <md-whiteframe  class="md-whiteframe-4dp" layout="column" layout-align="space-around center" ng-show="convidar">
        <form name="inviteUserForm" novalidate>
          <div   layout="column" layout-align="center center" style="margin-bottom: 18px;">
            <span layout-margin class="md-title">Convidar Usuário</span>
          </div>

          <md-input-container>
            <label>Nome</label>
            <input type="text" name="name" ng-model="name" required  />
            <div ng-messages="inviteUserForm.$submitted && inviteUserForm.name.$error" role="alert">
              <div ng-message="required">Digite sua senha</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Sobrenome</label>
            <input type="text" name="lastName" ng-model="lastName" required  />
            <div ng-messages="inviteUserForm.$submitted && inviteUserForm.lastName.$error" role="alert">
              <div ng-message="required">Digite sua senha</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>E-mail</label>
            <input type="email" name="email" ng-model="email" required  />
            <div ng-messages="inviteUserForm.$submitted && inviteUserForm.email.$error" role="alert">
              <div ng-message="required">Digite o email</div>
              <div  ng-message="email">Digite um endereço de email válido</div>
            </div>
          </md-input-container>

          <md-button type="submit" ng-click="inviteUserForm.$valid &&  invite">Convidar</md-button>
          <md-button ng-click="convidar = false">Cancelar</md-button>

        </form>
      </md-whiteframe>

      <div ng-repeat="userInvited in usersInvited" style="margin 8px;" >

      <md-whiteframe ng-show="!editUser[$index]"  ng-mouseenter="showOptionIcons($index)" ng-mouseleave="hideOptionIcons($index)" class="md-whiteframe-4dp invited-user-card" layout="column" layout-align="space-between none" >

        <div layout="row" layout-align="end center" style="margin-top: 16px;" ng-show="showOptionIcons[$index]" >
          <span layout="row" layout-align="end center" style=" cursor: pointer;">
          <i class="material-icons" style="cursor: pointer" ng-click="editUser[$index] = true">mode_edit</i>
              <md-tooltip md-direction="top">Editar</md-tooltip>
          </span>

          <span layout="row" layout-align="end center" style=" cursor: pointer; ">
          <i class="material-icons" style="cursor: pointer" ng-click="deleteUser(userActive.id)">delete</i>
              <md-tooltip md-direction="top">Deletar</md-tooltip>
          </span>

        </div>

        <div  layout="column" layout-align="center center" ng-style="classIcon[$index]">
          <i class="material-icons" style="font-size: 106px; color: #b6b6b6;">account_circle</i>
          <span layout-margin class="md-title">{{userInvited.name}}</span>
          <span class="md-body-1">{{userInvited.email}}</span>
        </div>

        <div layout="column" layout-align="space-around center" >
          <div class="md-body-1" style="color: #727272;" >Convidado</div>
          <div class="md-body-1" style="color: #727272; margin-top: 6px;" >Criação de Conta Pendente</div>
        </div>


        <div layout="row" layout-align="end center">
          <md-button class="inverted-button" ng-click="associateAnotherVehicle(userActive.id)">Reenviar Convite</md-button>
        </div>

      </md-whiteframe>

      <md-whiteframe  class="md-whiteframe-4dp" layout="column" layout-align="space-around center" ng-show="editUser[$index]">
        <form name="editUserForm" novalidate>
          <div   layout="column" layout-align="center center" style="margin-bottom: 18px;">
            <span layout-margin class="md-title">Editar Usuário</span>
          </div>

          <md-input-container>
            <label>Nome</label>
            <input type="text" name="name" ng-model="userInvited.name" required  />
            <div ng-messages="editUserForm.$submitted && editUserForm.name.$error" role="alert">
              <div ng-message="required">Digite sua senha</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Sobrenome</label>
            <input type="text" name="lastName" ng-model="userInvited.lastName" required  />
            <div ng-messages="editUserForm.$submitted && editUserForm.lastName.$error" role="alert">
              <div ng-message="required">Digite sua senha</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>E-mail</label>
            <input type="email" name="email" ng-model="userInvited.email" required  />
            <div ng-messages="editUserForm.$submitted && editUserForm.email.$error" role="alert">
              <div ng-message="required">Digite o email</div>
              <div  ng-message="email">Digite um endereço de email válido</div>
            </div>
          </md-input-container>

          <md-button type="submit" ng-click="inviteUserForm.$valid &&  invite">Salvar</md-button>
          <md-button ng-click="editUser[$index] = false">Cancelar</md-button>

        </form>
      </md-whiteframe>

    </div>

      <md-whiteframe ng-repeat="userActive in usersActivate" ng-mouseenter="showOptionImage($index)" ng-mouseleave="hideOptionImage($index)" class="md-whiteframe-4dp" layout="column" layout-align="space-between none" >

        <div layout="row" layout-align="end center" style="margin-top: 16px;" ng-show="showOptionImage[$index]" >
          <span layout="row" layout-align="end center" style=" cursor: pointer;">
            <i class="material-icons" style="cursor: pointer" ng-click="edit(userActive.id)">mode_edit</i>
              <md-tooltip md-direction="top">Editar</md-tooltip>
          </span>

          <span layout="row" layout-align="end center" style=" cursor: pointer;">
          <i class="material-icons" style="cursor: pointer" ng-click="deleteUser(userActive.id)">delete</i>
              <md-tooltip md-direction="top">Deletar</md-tooltip>
          </span>

        </div>

        <div  layout="column" layout-align="center center" ng-style="classImag[$index]">
          <img layout-margin src="images/foto1.png" />
          <span layout-margin class="md-title">{{userActive.name}}</span>
          <span class="md-body-1">{{userActive.email}}</span>
        </div>

        <div layout="column" layout-align="space-between none" >
          <div layout="row" layout-align="start center">
            <span layout="row" layout-align="end center" style=" cursor: pointer; height: 0px;">
              <i class="material-icons"  style="color: #727272">smartphone</i>
                <md-tooltip md-direction="top">Celular</md-tooltip>
            </span>
            <span  class="md-body-1" style="color: #727272; margin-left: 15px;">{{userActive.phone}}</span>
          </div>

          <div layout="row" layout-align="start center" style=" margin-top: 20px;">
            <span layout="row" layout-align="end center" style=" cursor: pointer; height: 0px;">
              <i class="material-icons" style="color: #727272;">directions_car</i>
                <md-tooltip md-direction="top">Carros Associados</md-tooltip>
            </span>
            <div layout="row" layout-align="space-between center" layout-fill>
              <span class="md-body-1" style="color: #727272; margin-left: 15px;">{{userActive.car.length + " Carros"}}</span>
              <div layout="row" layout-align="end center" style=" cursor: pointer; height: 0px;" >
                  <i class="material-icons" style="color: #727272" >chevron_right</i>
                  <md-tooltip md-direction="top">Mostrar Carros</md-tooltip>
              </div>
            </div>
          </div>

        </div>


        <div layout="row" layout-align="end center">
          <md-button class="inverted-button" ng-click="associateAnotherVehicle(userActive.id)">Associar outro veículo</md-button>
        </div>

      </md-whiteframe>

    </div>
  </div>
</div>
