<ng-include src="'src/Menu/menu.html'"></ng-include>

<div class="users" >
  <div layout="column" layout="start center" style="margin:auto">
    <div layout="row" layout-align="space-between center" class="search">
      <i class="material-icons" style="color: #727272">search</i>
      <md-input-container>
        <label></label>
        <input placeholder="Pesquisar por Usuário..." />
      </md-input-container>
    </div>

    <div style="margin: auto" layout-margin>
      <md-whiteframe class="md-whiteframe-4dp" layout="column" layout-align="space-around center" ng-show="!convidar">
        <div   layout="column" layout-align="center center" style="margin-bottom: 18px;">
          <span layout-margin class="md-title">Convidar Usuário</span>
        </div>

        <p>Convide usuários para utilizarem os veículos cadastrados</p>

        <img class="img-add-user" src="images/convidar_usuario.png" />

        <md-button ng-click="convidar = true">Convidar</md-button>

      </md-whiteframe>

      <md-whiteframe  class="md-whiteframe-4dp" layout="column" layout-align="space-around center" ng-show="convidar">
        <form name="inviteUserForm" novalidate>
          <div   layout="column" layout-align="center center" style="margin-bottom: 18px;">
            <span layout-margin class="md-title">Convidar Usuário</span>
          </div>

          <md-input-container>
            <label>Nome</label>
            <input type="text" name="name" ng-model="name" required  />
            <div ng-messages="inviteUserForm.$submitted && inviteUserForm.name.$error" role="alert">
              <div ng-message="required">Digite sua senha</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Sobrenome</label>
            <input type="text" name="lastName" ng-model="lastName" required  />
            <div ng-messages="inviteUserForm.$submitted && inviteUserForm.lastName.$error" role="alert">
              <div ng-message="required">Digite sua senha</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Sobrenome</label>
            <input type="email" name="email" ng-model="email" required  />
            <div ng-messages="inviteUserForm.$submitted && inviteUserForm.email.$error" role="alert">
              <div ng-message="required">Digite o email</div>
              <div  ng-message="email">Digite um endereço de email válido</div>
            </div>
          </md-input-container>

          <md-button type="submit" ng-click="inviteUserForm.$valid &&  invite">Convidar</md-button>
          <md-button ng-click="convidar = false">Cancelar</md-button>

        </form>
      </md-whiteframe>

      <md-whiteframe ng-repeat="userActive in usersActivate" ng-mouseenter="showOptionIcons($index)" ng-mouseleave="hideOptionIcons($index)" class="md-whiteframe-4dp" layout="column" layout-align="space-between none" >

        <div layout="row" layout-align="end center" style="margin-top: 16px;" ng-show="showOptionIcons[$index]" >
          $scope. = function(id)
          <i class="material-icons" style="cursor: pointer" ng-click="edit(userActive.id)">mode_edit</i>
          <i class="material-icons" style="cursor: pointer" ng-click="deleteUser(userActive.id)">delete</i>
        </div>

        <div  layout="column" layout-align="center center" ng-style="classImag[$index]">
          <img layout-margin src="images/foto1.png" />
          <span layout-margin class="md-body-2">{{userActive.name}}</span>
          <span class="md-caption">{{userActive.email}}</span>
        </div>

        <div layout="column" layout-align="space-between none" >
          <div layout="row" layout-align="start center">
            <i class="material-icons"  style="color: #727272">smartphone</i>
            <span  class="md-caption" style="color: #727272; margin-left: 23px;">{{userActive.phone}}</span>
          </div>

          <div layout="row" layout-align="start center" style=" margin-top: 20px;">
            <i class="material-icons" style="color: #727272">directions_car</i>
            <div layout="column">
              <span class="md-caption" style="color: #727272; margin-left: 23px;">{{userActive.car_name}}</span>
            </div>
          </div>
          <div layout="row" layout-align="start start">
            <div flex="20"></div>
            <div flex="80"  layout="row" layout-align="start center">
              <span class="md-caption ticket">{{userActive.maker}}</span>
              <span ng-if="userActive.owner" class="md-caption own-ticket">Proprietário</span>
            </div>
          </div>

        </div>


        <div layout="row" layout-align="end center">
          <md-button class="inverted-button" ng-click="associateAnotherVehicle(userActive.id)">Associar outro veículo</md-button>
        </div>

      </md-whiteframe>

    </div>
  </div>
</div>
