<form name="forgotPassForm" novalidate layout="column" layout-align="space-between center" layout-margin ng-show="!ChangedPassword">
  <ng-include src="'html/marca.html'"></ng-include>

    <md-whiteframe  layout="column" layout-align="space-around none" class="md-whiteframe-4dp cardLogin" >

      <div   layout="column" layout-align="center center" style="margin-bottom: 18px;">
        <span layout-margin class="md-title">Alterar Senha</span>
        <span class="md-caption">{{$root.user.email}}</span>
      </div>

      <span class="no-heigth" layout="row"  layout-align="end end">
        <span ng-mouseenter="showPass =  true" ng-mouseleave="showPass = false" class="check-password" layout="row" layout-align="end end">
          <i  class="material-icons " >visibility</i>
          <md-tooltip md-direction="top">Mostrar</md-tooltip>
        </span>
      </span>

      <md-input-container ng-show="!showPass" >
        <label>Senha</label>
        <input type="password" ng-model="passWord" name="passWord" ng-required="true"/>
        <div ng-messages="forgotPassForm.$submitted && forgotPassForm.passWord.$error" role="alert">
          <div ng-message="required">Digite sua senha</div>
        </div>
      </md-input-container>

      <md-input-container ng-show="showPass" >
        <label>Senha</label>
        <input type="text" ng-model="passWord" />
      </md-input-container>


      <span class="no-heigth" layout="row" layout-align="end end">
        <span ng-mouseenter="showConfirmPass =  true" ng-mouseleave="showConfirmPass = false" class="check-password" layout="row" layout-align="end end">
          <i class="material-icons " >visibility</i>
          <md-tooltip md-direction="top">Mostrar</md-tooltip>
        </span>
      </span>

      <md-input-container  ng-show="!showConfirmPass" >
        <label>Confirma Senha</label>
        <input type="password" ng-model="confirmPassWord" name="confirmPassWord" ng-required="true"/>
        <div ng-messages="forgotPassForm.$submitted && forgotPassForm.confirmPassWord.$error" role="alert">
          <div ng-message="required">Digite sua confirmação de senha</div>
        </div>
      </md-input-container>

      <md-input-container ng-show="showConfirmPass" >
        <label>Confirma Senha</label>
        <input type="text" ng-model="confirmPassWord" />
      </md-input-container>

      <md-button ng-click="forgotPassForm.$valid && newPass()"  type="submit" >Confirmar</md-button>
      <md-button ng-click="backToLogin()" >Cancelar</md-button>

    </md-whiteframe>

</form>

<div novalidate layout="column" layout-align="space-between center" layout-margin ng-show="ChangedPassword">
  <ng-include src="'html/marca.html'"></ng-include>

    <md-whiteframe  layout="column" layout-align="space-around none" class="md-whiteframe-4dp cardLogin" >

      <div   layout="column" layout-align="center center" style="margin-bottom: 18px;">
        <span layout-margin class="md-title">Senha Alterada</span>
      </div>

      <p class="md-body-1" style="text-align: justify; margin-bottom: 33px">
        Sua senha foi alterada com sucesso. A partir de agora você usa a nova senha para entrar no sistema
      </p>

      <md-button ng-click="login()"  type="submit" >ir para sharecar</md-button>

    </md-whiteframe>

</form>
