html,body {
  background: #e8dce1;
}

.md-button {
  color : #fff;
  background-color: #009688;
  width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}


div md-button:nth-of-type(1) {
  color: #c4c4c4 !important;
  background-color: #fff !important;
}

.marca {
  height: 48px;
  width: 176px;
  text-align: center;
  padding-top: 16px;
  background-color: #c4c4c4;
}

md-whiteframe {
  background-color: white;
}

.cardLogin {
  padding: 1% 5%;
  width: 29%;
  margin-top: 3%;
}


.md-button:not([disabled]):hover {
  background-color: rgba(0,150,136, 0.8);
}

.md-link{
  color: #007098;
  text-decoration: underline;
  cursor: pointer;
}

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;  /* Preferred icon size */
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
text-align: center;

/* Support for all WebKit browsers. */
-webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
text-rendering: optimizeLegibility;

/* Support for Firefox. */
-moz-osx-font-smoothing: grayscale;

/* Support for IE. */
font-feature-settings: 'liga';
}

form[name = "addUserForm"]  md-input-container {
  margin: 7px 0 !important;
  width: 100%;
}

form[name = "addUserForm"]  md-whiteframe {
  width: 47%;
  padding: 3% 4% 1% 0%;
  margin-top: 3%;

}

form[name = "addUserForm"]  p {
  margin: 7px;
}

.fullWidth {
  width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}
