html,body {
  background: #eef3f6;
}

md-input-container {
  margin: 7px 0 !important;
  width: 100%;
}


.img-add-vehicle {
  margin-top: -9px;
  margin-bottom: 9px;
  width: 71px;
  margin-left: 13px;
}

md-input-container:only-of-type:first-of-type {
  margin-top: 29px !important;
}

.inverted-button {
  text-align: right;
  background-color: white !important;
  color: #009688 !important;
  width: auto !important;
}


.users,  .vehicle{
    /*margin: 10px 10%;*/
    margin: 10px auto;
    width: 1005px;
}

.card-cadastrate-vehicle{
  height: 452px !important;
}

.card-add-vehicle{
  height: 285px !important;
  padding: 11px 28px !important;
}

.card-cadastrate-vehicle md-input-container {
  height: 49px;
}

.users p, .vehicle p {
  text-align: center;
  color: #727272;
}

.users md-whiteframe, .vehicle md-whiteframe {
  padding: 0 34px;
  width: 310px;
  height: 400px;
  margin-right: 22px;
  margin-bottom: 22px;

  float: left !important;
}

.users md-whiteframe > div:nth-of-type(2), .vehicle md-whiteframe > div:nth-of-type(2) {
  margin-top: 16px;

}

.ticket {
  margin-right: 10px;
  background: #F2994A;
  padding: 2px 10px;
  border-radius: 11px;
  color: white;
  text-align: center;
}

.own-ticket {
  background: #00C5A7;
  padding: 2px 10px;
  border-radius: 11px;
  color: white;
}

.search {
  width: 310px;
  margin-top: -19px;
  margin: auto;
}

.user-card-responsive{
  height: 213px !important;
  padding: 8px 22px !important;
  margin-top: 17px;

}

.number-cars-associate{
  padding: 1px 4px;
  background: red;
  border-radius: 122px;
  font-size: 10px;
  color: white;
  position: relative;
  top: -9px;
  left: 15px;
}

.user-card-responsive img {
  width: 67px !important;
  margin-right: 20px !important;

}

.user-card-responsive p {
  text-align: justify !important;
}

.invited-user-card{
  background-color: #F7F7F7;
}

.invited-user-card .inverted-button{
  background-color: #F7F7F7 !important;
}

.img-add-user {
  margin-top: -9px;
  margin-bottom: 9px;
}


.group-user-menu{
  padding-right: 4%;
}

.menu-top {
  /*background-color: #ed4b4b;*/
  background-color: #1E2431;
  width: 100;
  padding: 10px 0;
}

.offset-title-menu-top {
  margin-top: -59px;
}

.title-menu-top {
  color: white;
}

.menu-top i  {
  color: white;
}

.menu-top a {
  margin-right: 7% !important;
  color: #5C6169;
  font-size: 12px;
}

.botao-menu > a {
  cursor: pointer;
}

.botao-menu > a:hover {
  color: #fff;
}

.marca-menu {
  width: 100px;
  height: 70px;
  background-color: #c4c4c4;
  color: white;
  text-align: center;
}

.material-icons{
  color: #009688;
}


.md-button {
  color : #fff;
  background-color: #009688;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.center-menu{
  margin-left: 20px !important;
}

.center-menu a:first-child {
  margin-left: 26px !important;
}

.md-button:nth-of-type(2) {
  color: #009688 !important;
  background-color: #fff ;
}

.md-button:not([disabled]):hover:nth-of-type(2), .inverted-button:not([disabled]):hover {
  background-color: #CBCBCB !important;
}

md-nav-bar button {
  background-color: inherit !important;
  margin: 0 !important;
}

md-nav-bar button:hover {
  background-color: #221e1e !important;
}

md-nav-bar button span {
  color: #fff !important;
}

.md-input-invalid .check-password{
  bottom: 51px;
}

.no-heigth {
  height: 0;
}

form[name = "addUserForm"] .check-password {
  position: relative;
  top: 26px;
  left: 146px;
  cursor: pointer;
  z-index: 100;
}

form[name = "forgotPassForm"] .check-password, form[name = "loginForm2"] .check-password {
  position: relative;
  top: 38px;
  cursor: pointer;
  z-index: 100;
}


.marca {
  height: 34px;
  width: 176px;
  text-align: center;
  padding-top: 14px;
  background-color: #c4c4c4;
}

md-whiteframe {
  background-color: white;
}

.cardLogin {
  padding: 12px 39px;
  width: 330px;
  margin-top: 39px;
}


.md-button:not([disabled]):hover {
  background-color: rgba(0,150,136, 0.8);
}

.md-link{
  color: #007098;
  text-decoration: underline;
  cursor: pointer;
}


.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;  /* Preferred icon size */
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
text-align: center;

/* Support for all WebKit browsers. */
-webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
text-rendering: optimizeLegibility;

/* Support for Firefox. */
-moz-osx-font-smoothing: grayscale;

/* Support for IE. */
font-feature-settings: 'liga';
}


form[name = "addUserForm"]  md-whiteframe {
  width: 695px;
  padding: 1% 4% 1% 0%;
  margin-top: 3%;
}

form[name = "addUserForm"]  p {
  margin: 7px;
}

.fullWidth {
  width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 1281px) {

}



@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 960px) {


  form[name = "addUserForm"] md-whiteframe {
    width: 400px;
    padding: 3px 32px 8px 32px !important;
  }

  form[name = "addUserForm"] .check-password {
    left: 0;
  }

  .users, .vehicle {
    width: 670px;
    margin: auto;

  }


}


@media screen and (max-width: 600px) {

  md-whiteframe {
    width: 330px !important;
  }


  form[name = "addUserForm"] md-whiteframe {
    padding: 13px 19px 8px 19px !important;
  }

  form[name = "addUserForm"] .check-password {
    left: 0;
  }

  .users, .vehicle {
    width: 320px;
    margin: auto;

  }

  .users md-whiteframe, .vehicle md-whiteframe{
    margin-right: 8px;
    margin-left: 8px;
    width: 302px !important;
    margin-top: 16px;
  }


}
