html,body {
  background: #eef3f6;
}

md-input-container {
  margin: 7px 0 !important;
  width: 100%;
}


md-input-container:only-of-type:first-of-type {
  margin-top: 29px !important;
}

.material-icons{
  color: #009688;
}


.md-button {
  color : #fff;
  background-color: #009688;
  width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}


.md-button:nth-of-type(2) {
  color: #009688 !important;
  background-color: #fff ;
}

.md-button:not([disabled]):hover:nth-of-type(2) {
  background-color: #CBCBCB ;
}

.md-input-invalid .check-password{
  bottom: 51px;
}

.no-heigth {
  height: 0;
}

form[name = "addUserForm"] .check-password {
  position: relative;
  top: 26px;
  left: 146px;
  cursor: pointer;
  z-index: 100;
}

form[name = "forgotPassForm"] .check-password, form[name = "loginForm2"] .check-password {
  position: relative;
  top: 38px;
  cursor: pointer;
  z-index: 100;
}


.marca {
  height: 34px;
  width: 176px;
  text-align: center;
  padding-top: 14px;
  background-color: #c4c4c4;
}

md-whiteframe {
  background-color: white;
}

.cardLogin {
  padding: 12px 39px;
  width: 330px;
  margin-top: 39px;
}


.md-button:not([disabled]):hover {
  background-color: rgba(0,150,136, 0.8);
}

.md-link{
  color: #007098;
  text-decoration: underline;
  cursor: pointer;
}

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;  /* Preferred icon size */
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
text-align: center;

/* Support for all WebKit browsers. */
-webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
text-rendering: optimizeLegibility;

/* Support for Firefox. */
-moz-osx-font-smoothing: grayscale;

/* Support for IE. */
font-feature-settings: 'liga';
}


form[name = "addUserForm"]  md-whiteframe {
  width: 695px;
  padding: 1% 4% 1% 0%;
  margin-top: 3%;
}

form[name = "addUserForm"]  p {
  margin: 7px;
}

.fullWidth {
  width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 1281px) {

}



@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 960px) {


  form[name = "addUserForm"] md-whiteframe {
    width: 400px;
    padding: 3px 32px 8px 32px !important;
  }

  form[name = "addUserForm"] .check-password {
    left: 0;
  }


}


@media screen and (max-width: 600px) {

  md-whiteframe {
    width: 330px !important;
  }


  form[name = "addUserForm"] md-whiteframe {
    padding: 13px 19px 8px 19px !important;
  }

  form[name = "addUserForm"] .check-password {
    left: 0;
  }

}
